In [23]:
a= ('INTEGER',
          'REAL',
          'STRINGS',
          'LIST',
          'TUPLE',
          'LEFT_PARENTHESIS',
          'RIGHT_PARENTHESIS',
          'EXPRESSION',
          'EXPONENTIATION',
          'MULTIPLICATION',
          'DIVISION',
          'DIV',
          'MOD',
          'PLUS',
          'MINUS',
          'IN',
          'CONCATENATION',
          'NOT',
          'ANDALSO',
          'ORELSE',
          'LESSTHAN',
          'LESSTHANEQUALTO',
          'EQUALS',
          'NOTEQUALS',
          'GREATERTHANEQUALTO',
          'GREATERTHAN'
          )

In [24]:
for x in a:
    print('t_'+x+' = r\'\'')

t_INTEGER = r''
t_REAL = r''
t_STRINGS = r''
t_LIST = r''
t_TUPLE = r''
t_LEFT_PARENTHESIS = r''
t_RIGHT_PARENTHESIS = r''
t_EXPRESSION = r''
t_EXPONENTIATION = r''
t_MULTIPLICATION = r''
t_DIVISION = r''
t_DIV = r''
t_MOD = r''
t_PLUS = r''
t_MINUS = r''
t_IN = r''
t_CONCATENATION = r''
t_NOT = r''
t_ANDALSO = r''
t_ORELSE = r''
t_LESSTHAN = r''
t_LESSTHANEQUALTO = r''
t_EQUALS = r''
t_NOTEQUALS = r''
t_GREATERTHANEQUALTO = r''
t_GREATERTHAN = r''

In [19]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("\'[^\'\"]'|\"[^\'\"]*\"", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

No match

In [34]:
import numpy as np

In [42]:
mean = np.mean(a)

In [38]:
import statistics

In [39]:
statistics.variance(a)

0.5102899999999999

In [40]:
statistics.mean(a)

1.537

In [41]:
a

[1.87, 1.29, 2.01, 0.93, 1.02, 2.78, 2.33, 1.65, 0.5, 0.99]

In [53]:
res = sum((i - mean) ** 2 for i in a) / (len(a))

In [56]:
(1.537-1.5)/((np.sqrt(res)/np.sqrt(10)))

0.1726521299692921

In [62]:
(0.46-0.7)/(np.sqrt(0.46*0.54)/10)

-4.815434123430766

In [61]:
0.04/0.049

0.8163265306122449

In [74]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('q6_X.dat', sep=",", header=None)
X= df1[0].tolist()

df2 = pd.read_csv('q6_Y.dat', sep=",", header=None)
Y= df2[0].tolist()

In [84]:
theta_0 = np.mean(X)
p_mle = np.mean(Y)
std = np.sqrt(np.var(Y))

w = np.abs((p_mle - theta_0)/std)
w

1.112838357496873

In [118]:
D =[a_i - b_i for a_i, b_i in zip(X, Y)]
d = np.mean(X) - np.mean(Y)
t = d/  ((np.sqrt(np.var(D)) /np.sqrt(len(D))))
t

-11.022763617048131

In [119]:
7%3

1

In [120]:
1+'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [121]:
bool

bool

In [125]:
type(tuple())

tuple

In [127]:
colors=('Red','Green','Blue')

In [130]:
a={1,2}

In [134]:
type({})

dict

In [135]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [136]:
'a'+'s'

'as'

In [137]:
x=2

In [141]:
if x==1:
    pass
if x==3:
    print('hi')
if x==2:
    print('a')
    pass
print('a')

a
a

In [143]:
2-3e2

-298.0

In [145]:
12 % 0

ZeroDivisionError: integer division or modulo by zero

In [146]:
2 ** 81

2417851639229258349412352

In [147]:
a = [1,2]

In [149]:
x ="a "+str(a)

In [150]:
x

'a [1, 2]'

In [153]:
x=[1].append(2)

In [155]:
x = []

In [156]:
x.append(1)

In [157]:
x

[1]

In [159]:
"Bh"[12]

IndexError: string index out of range

In [161]:
[1] in [2]

False

In [162]:
2 in [1,2]

True

In [163]:
2 in 'a'

TypeError: 'in <string>' requires string as left operand, not int

In [164]:
2::[1,4]

SyntaxError: invalid syntax (<ipython-input-164-3da1c5c271bb>, line 1)

In [165]:
-3**2

-9

In [166]:
'am' in 'sam'

True

In [167]:
a= (1,2,3)

In [168]:

type(a)

tuple

In [169]:
a[0]

1

In [170]:
a[1]

2

In [175]:
type((1,))

tuple

In [176]:
-3**2

-9